table, th, td {
    border: 1px dashed black;
}

td {
    padding-left: 15px;
}

table {
    height: 140px;
    width: 50%;

}

li {
    color: blue;
}

#pgr li:nth-child(2) {
    width: 100px;
    height: 100px;
}

#pgr li:nth-child(3), li:nth-child(2) {
    color: red;
}

#pgr li:nth-child(2n) {
    font-weight: bold;
}



