body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 1fr 1fr 50px;
}

.container div {
    padding: 10px;
    border: 1px solid black;
}

.header {
    grid-column-start: 2;
    grid-column-end: 4;
}

.search-box {
    position: fixed;
    right: 0;
    top: 107px;
    width: 35%;
}
.search-box [type]{
    width: 100%;
}

.navigation-menu{
    grid-row-start: 2;
    grid-row-end: 4;
}

.content{
    grid-row-start: 2;
    grid-row-end: 4;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}