html, body {
    width: 100%;
    height: 100%;
}

.remai {
    border: 1px solid black;
    width: 400px;
    height: 470px;
}

.remai #static {
    background-color: gray;
    position: static;
    width: 100px;
    height: 100px;
    text-align: right;
    font-size: 24px;
}

.remai #absolute {
    background-color: deeppink;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: right;
    font-size: 24px;
    top: 150px;
    left: 50px;
}

.remai #fixed {
    background-color: royalblue;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: right;
    font-size: 24px;
    top: 150px;
    left: 200px;
}

.remai #relative {
    background-color: yellow;
    position: relative;
    width: 100px;
    height: 100px;
    text-align: right;
    font-size: 24px;
    top: 50px;
    left: 50px;
}

.remai #relative-2 {
    background-color: green;
    position: relative;
    width: 200px;
    height: 200px;
    text-align: left;
    font-size: 24px;
    top: 70px;
    left: 200px;
}

.remai #absolute-2 {
    background-color: blueviolet;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: right;
    font-size: 24px;
    top: 30px;
    left: 30px;
}

.lenta div {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    background-color: gray;

    float: left;
}

.lenta div:nth-child(5n+1) {
    clear: both;
}

.lenta .a-b {
    background-color: lightblue;
}

.lenta .a-g {
    background-color: lightgreen;
}

.lenta .a-p {
    background-color: lightpink;
}



